

a {
  font-weight: 500;
  color: #82aaff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #5c8aff;
}



h1 {
  font-size: 3.4em;
  font-weight: 700;
  margin-bottom: 20px;
  color: inherit;
}



